/* Main settings */

:root {
  --col-bg: #fff;
  --col-fg: #000;
  --col-ac: #fd5;
  --col-nt: #56e;
  --col-ct: #23c;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}
body {
  background: var(--col-bg);
  color: var(--col-fg);
  font-size: 1.3rem;
  font-family: monospace;
  text-align: justify;
  margin: auto;
  max-width: 80ch;
  padding: 2rem;
}
header,
footer {
  text-align: center;
}

/* Typography */

b,
dt,
summary {
  font-weight: 600;
}
header > h1 {
  font-size: 1.5rem;
}

/* Navigation */

footer ul,
nav menu {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
footer li,
nav li {
  flex-shrink: 0;
  margin: 0.25rem 0.75rem;
}
nav a {
  padding: 0.25rem 0.75rem;
}
nav mark {
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--col-fg);
}
nav mark a {
  padding: 0;
}

/* Organizational tags */

dl {
  margin: 1.5rem 0 0;
}
dd {
  margin: 1rem 0;
  padding: 0 0 0 2.5rem;
}
dd > div {
  margin: 0.5rem 0;
}
table {
  display: block;
  max-width: 100%;
  margin: 0 auto 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  inline-size: fit-content;
  overflow-x: auto;
}
td,
th {
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--col-fg);
}
th {
  background: var(--col-ac);
  font-weight: 700;
}
details {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid var(--col-fg);
}
details > * {
  margin: 0;
}
summary {
  cursor: pointer;
  display: list-item;
  user-select: none;
}
details[open] > summary {
  padding: 1rem;
  border-bottom: 1px solid var(--col-fg);
  background: var(--col-ac);
  margin: -1rem -1rem 1rem;
}

/* Colors */

mark {
  background: var(--col-ac);
  font-weight: bold;
}
summary,
a {
  text-decoration: none;
  color: var(--col-ct);
}
a:hover {
  text-decoration: underline;
  background: none;
}
summary:hover {
  text-decoration: underline;
}
hr {
  background: var(--col-fg);
  height: 2px;
  border: 0;
}

/* Images */

img {
  margin: auto;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* Mobile */

@media (max-width: 80ch) {
  body {
    font-size: 1rem;
    text-align: left;
  }
  dd {
    padding: 0 0 0 1rem;
  }
  dd > div {
    margin: 0.25rem 0;
  }
}
