/* Main settings */

:root {
  --bg-col: #fff;
  --txt-col: #000;
  --accent-col: #fd5;
  --neutral-col: #56e;
  --contrast-col: #23c;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-col);
  color: var(--txt-col);
  font-size: 1.3rem;
  font-family: monospace;
  text-align: justify;
  margin: auto;
  max-width: 80ch;
  padding: 0 2rem;
}
@media (max-width: 79ch) {
  body {
    font-size: 1rem;
    text-align: left;
  }
}
header,
footer {
  text-align: center;
}

/* Typography */

b,
dt,
summary {
  font-weight: 600;
}
header > h1 {
  font-size: 1.5rem;
}

/* Navigation */

header > nav > ul {
  list-style-type: none;
  margin-top: 0.5rem;
  padding-inline-start: 0;
  li {
    display: inline;
    margin: 0 0.6rem;
  }
}

/* Organizational tags */

dd > p {
  margin: 0.25rem 0;
}
dt {
  margin: 0.5rem 0;
}
th {
  text-align: right;
  vertical-align: top;
  padding: 0 0.5rem;
}
summary {
  cursor: pointer;
  text-decoration: underline;
  display: inline list-item;
}

/* Colors */

mark {
  background-color: var(--accent-col);
  font-weight: bold;
}
summary,
a {
  color: var(--contrast-col);
}
a:visited {
  color: var(--neutral-col);
}
details[open] > summary,
summary:hover,
a:hover {
  background-color: var(--contrast-col);
  color: var(--bg-col);
}
hr {
  background: var(--txt-col);
  height: 0.1rem;
  border: 0;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
}
